*{
 margin: 0;
 padding-top: 0;
 box-sizing: border-box;
}
body {
 background: #F6F6F6;
 height: 100vh;
 scroll-behavior: smooth;
}
a{
  text-decoration: none;
}
header{
 width: 100%;
}
header nav{
 height: 80px;
 background: #FCFCFC;
 display: flex;
}
nav .left-container{
 width: 50%;
 display: flex;
 align-items: center;
 justify-content: space-around;
}
nav .right-container{
 width: 45%;
 display: flex;
 align-items: center;
 justify-content: right;
}
.right-container p{
 padding-left: 5px;
}
.left-container p{
 color: #123882;
 padding-left: 2px;
 font-weight: bold;
 font-size: 18px;
}
nav .left-container img{
 width: 35px;
 height: 35px;
}
nav .right-container img{
 width: 35px;
 height: 35px;
 border-radius: 50%;
}
.left-container div{
 display: flex;
 align-items: center;
}

/* header end */

.main {
 background: #e3e3e3;
 width: 100%;
 height: 100vh;
}
.main .container {
 display: flex;
 justify-content: space-between;
}
.container .left-box {
 margin-top: 10px;
 width: 25%;
 background: #123882;
 border-top-right-radius: 5px;
 text-align: center;
}
.left-box #header-text{
 margin-top: 10px;
 font-size: 28px;
 color: #FEFEFE;
}
.left-box .left-nav{
 margin-top: 30px;
 width: 100%;
 height: 50%;
 border-top: 1px solid #E6E6E6;
}
.left-nav div a{
 height: 60px;
 display: flex;
 align-items: center;
 border-bottom: 1px solid #E6E6E6;
 color: #CDCDCD;
 transition: all .3s;
}
.left-nav div a:hover{
 background-color: #E3E3E3;
 color: #123882;
}
.left-nav div a:hover img{
 border: .1px solid #123882;
 background: #123882;
}
.left-nav div a img{
 width: 20px;
 height: 20px;
 margin-left: 15px;
 border: .1px solid #CDCDCD;
 border-radius: 5px;
}
.left-nav div p{
 font-family: "Times New Roman";
 font-size: 22px;
 margin-left: 20px;
}
.left-nav div p:hover{
 color: #123882;
}
.container .right-box{
 margin-top: 10px;
 margin-left: 20px;
 width: 100%;
 height: 100vh;
 overflow-y: scroll;
}
.container .right-box::-webkit-scrollbar{
  display: none;
}
.right-box section{
 width: 100%;
 height: 100px;
 background: #ffffff;
 box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
 border-top-left-radius: 10px;
 border-bottom-left-radius: 10px;
}
.right-box section div p{
 padding-top: 10px;
 padding-left: 10px;
 font-size: 24px;
 color: #123882;
}
.right-box section .search-bar{
 margin-top: 10px;
 margin-left: 10px;
 display: flex;
 justify-content: space-between;
}
.right-box section .search-bar img{
 width: 10%;
 height: 30px;
 transition: all ease-in-out .5s;
}

.right-box .search-bar img:hover{
 transform: translateX(5px);
}
section .search-bar div{
 width: 50%;
 position: relative;
}
section .search-bar input[type=search]{
 border: .1px solid #123882;
 padding-left: 10px;
 width: 71%;
 height: 35px;
 font-size: 18px;
 border-radius: 5px;
 -webkit-transition: width .7s ease-in-out;
 transition: width .7s ease-in-out;
}
.search-bar input[type=search]:focus{
 width: 74%;
 border: none;
 outline: .1px solid #282574;
}
.search-bar input[type=search]:hover{
  width: 74%;
  border: none;
  outline: .1px solid #282574;
 }
.search-bar input[type=search]::placeholder{
 color: #BFC0C8;
 opacity: .9;
}
section .search-bar button{
 width: 20%;
 height: 36px;
 border: none;
 background: #123882;
 color: #ffffff;
 font-size: 18px;
 border-radius: 5px;
 margin-left: 10px;
}
section .search-bar button:hover{
  background: #1647a9;
}
.right-box .data-section{
 width: 99%;
 max-height: 100%;
 margin-top: 10px;
 display: flex;
 flex-flow: wrap;
 /*align-items: center;*/
 justify-content: space-between;
 overflow-y: scroll;
}
.right-box .data-section::-webkit-scrollbar{
  display: none;
}
.right-box .data-section .data{
 width: 48%;
 background: #ffffff;
 border-radius: 5px;
 margin-top: 25px;
 margin-left: 10px;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 display: flex;
 align-items: center;
 justify-content: space-around;
 overflow-x: scroll;
 transition: all ease-in-out .5s;
}
.right-box .data-section .data:hover{
 transform: translateY(-2px);
 box-shadow: none;
}
.right-box .data-section .data::-webkit-scrollbar{
  display: none;
}
.right-box .data .img-container{
 min-width: 55%;
 height: 98%;
 background: #B4B4B4;
 outline: none;
 border-radius: 5px;
 overflow: hidden;
}
.right-box .data .container-section{
 min-width: 45%;
 height: 100%;
 margin-left: 5px;
}
.right-box .data .img-container img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.right-box .data .container-section .top-data{
 margin-top: 5px;
 border-radius: 5px;
 width: 85px;
 height: 20px;
 background: #ced3ff;
 font-size: 16px;
 display: flex;
 align-items: center;
 justify-content: center;
 color: #123882;
}
.container-section .c-name p{
 margin-top: 8px;
 font-size: 24px;
 font-weight: 500;
 color: #123882;
}
.container-section .cc-name p{
 margin-top: 5px;
 font-size: 16px;
 color: #8E8E8E;
}
.container-section .c-design{
 margin-top: 22px;
 display: flex;
 align-items: center;
}
.container-section .c-design img{
 width: 35px;
 height: 25px;
 margin-right: 1px;
}
.container-section .c-design p{
 font-size: 12px;
 color: #8E8E8E;
 margin-right: 5px;
}
.container-section .b-btn button{
 margin-top: 10px;
 margin-bottom: 5px;
 background: #123882;
 color: #ffffff;
 border: none;
 border-radius: 5px;
 width: 95px;
 font-size: 14px;
 height: 25px;
 transition: background ease-in-out .3s;
}
.container-section .b-btn button:hover{
 background: #2561d7;
}

/** popup css **/

.popup {
 display: flex;
 align-items: center;
 justify-content: center;
}
.popup.active {
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 z-index: 10;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: rgba(0, 0, 0, 0.8);
 backdrop-filter: blur(3px);
 -webkit-transition: background ease-in-out .3s;
 transition: background ease-in-out .3s;
}
.popup .content{
 transform: translateY(-300px);
 position: absolute;
 z-index:6;
 transition: all ease-in-out .3s;
 border-radius: 5px;
 min-width: 60%;
 min-height: 550px;
 background: #FFFFFF;
}
.popup.active .content{
 transform: translateY(0px);
}
.popup .top-section {
 width: 100%;
 height: 35px;
 display: flex;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 align-items: center;
 justify-content: space-between;
}
.popup.active .top-section{
 width: 100%;
 height: 45px;
 border-top-left-radius: 5px;
 border-top-right-radius: 5px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 background: #ECEEFF;
}
.popup.active .top-section p{
 margin-left: 15px;
 font-family: serif;
 font-size: 18px;
 color: #123882;
}
.popup.active .top-section img{
 width: 35px;
 height: 35px;
 cursor: pointer;
}
.popup.active .data-section{
 width: 100%;
}
.popup.active .data-section .details{
 display: flex;
 align-items: center;
 justify-content: center;
}
.popup.active .details p{
 font-size: 22px;
 font-family: Times;
 margin-top: 30px;
 margin-right: 7px;
}
.popup.active .data-section .form-data{
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 30px;
}
.popup.active .form-data .label{
 width: 90%;
 margin-top: 5px;
}
.popup.active .label label{
 font-size: 18px;
 color: #9e9e9e;
}
.popup.active .form-data input[type='text'],input[type='email'],input[type='tel'],select{
 margin-top: 5px;
 width: 90%;
 height: 35px;
 border: 1px solid #C5C5C5;
 border-radius: 5px;
 font-size: 14px;
 padding-left: 5px;
 color: #123882;
 background: none;
}
.popup.active .form-data input[type='text']:focus,input[type='email']:focus,input[type='tel']:focus,select:focus{
 background: #F3F4FF;
 outline: none;
 border: .5px solid #123882;
}
.popup.active .form-data input[type='text']::placeholder,input[type='email']::placeholder,input[type='tel']::placeholder{
 color: #AFAFAF;
 font-size: 14px;
 padding-left: 5px;
}
.popup.active .form-data .container{
 margin-top: 10px;
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
}
.popup.active .container div{
 margin-top: 5px;
 width: 90%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.popup.active .container div label{
 width: 48%;
 font-size: 14px;
 color: #9e9e9e;
}

.popup.active .container input[type='date'],input[type='time']{
 width: 48%;
 height: 35px;
 border: 1px solid #C5C5C5;
 border-radius: 5px;
 font-size: 14px;
 padding-left: 5px;
 color: #123882;
 background: #ffffff;
}
.popup.active .form-data input[type='date']:focus,input[type='time']:focus {
 outline: none;
 border: .5px solid #123882;
 background: #F3F4FF;
}
.popup.active .form-data button{
margin-top: 20px;
margin-bottom: 10px;
width: 90%;
height: 35px;
border: none;
border-radius: 5px;
font-size: 16px;
padding-left: 5px;
color: #ffffff;
background: #123882;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
.popup.active .form-data button:hover{
  background: #2f5bb2;
}

/** popup end **/

.right-box .booking-section{
 width: 99%;
 height: 100vh;
 margin-top: 10px;
 overflow-y: scroll;
 background: transparent;
}
.right-box .booking-section::-webkit-scrollbar{
  display: none;
}
.booking-section .row-container{
 width: 100%;
 height: 100px;
 margin-bottom: 20px;
 border-radius: 5px;
 background: #ffffff;
 display: flex;
}
.row-container .box-1{
 width: 45%;
 height: 100%;
 overflow-x: scroll;
 display: flex;
 align-items: center;
 justify-content: center;
}
.row-container .box-1::-webkit-scrollbar{
  display: none;
}
.row-container .box-1 p{
 color: #6D6D6D;
 font-weight: 500;
 font-size: 22px;
 text-decoration: underline;
 user-select: none;
}
.row-container .box-1 p:hover {
 background: #4480F5B5;
 color: #FFFFFF;
}
.row-container .box-2{
 width: 33%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.row-container .box-2 p{
 font-size: 18px;
 color: #6D6D6D;
 font-family: monospace;
}
.row-container .box-3{
 width: 22%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}
.row-container .box-3 img{
 width: 35px;
 height: 35px;
}

/** showroom section **/
.showroom-section{
  width: 99%;
  height: 100vh;
  margin-top: 10px;
  overflow-y: scroll;
  background: transparent;
}
.showroom-section::-webkit-scrollbar{
  display: none;
}
.showroom-section .row-container{
 width: 100%;
 height: 150px;
 margin-bottom: 20px;
 border-radius: 5px;
 background: #ffffff;
 display: flex;
}
.showroom-section .row-container .box-1{
 width: 25%;
}
.showroom-section .row-container .img-wrapper{
 width: 120px;
 height: 120px;
 border-radius: 20px;
 background: #383E81;
 display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}
.showroom-section .row-container .img-wrapper img{
 width: 100%;
 height: 100%;
 object-fit: cover;
}
.showroom-section .row-container .box-2{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.showroom-section .row-container .box-2 div{
 display: flex;
 align-items: center;
 justify-content: space-evenly;
 width: 50%;
}
.showroom-section .row-container .box-2 div #address{
 font-weight: bold;
}
.showroom-section .box-2 .bx p{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 80px;
 height: 35px;
 border-radius: 15px;
 color: #123882;
 background: #D4D7FF9E;
}
.showroom-section .box-2 .bx label{
  cursor: copy;
}
/** showroom section end **/

/** companies section **/
.companies-data{
 width: 99%;
 max-height: 50vh;
 margin-top: 10px;
 display: flex;
 flex-flow: wrap;
/* align-items: center;*/
/*justify-content: space-between;*/
 overflow-y: scroll;
}
.companies-data::-webkit-scrollbar{
  display: none;
}
.companies-data .container{
 width: 48%;
 height: 75px;
 background: #FFFFFF;
 border-radius: 5px;
 margin-top: 10px;
 margin-left: 10px;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: all ease-in-out .5s;
}
.companies-data .container:hover{
 box-shadow: none;
}
.companies-data .container .data{
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}
.companies-data .container .data .right{
 width: 65%;
 display: flex;
 align-items: center;
 justify-content: center;
}
.companies-data .container .data .left{
 width: 35%;
 display: flex;
 align-items: center;
}
.companies-data .container .data .right p{
 text-align: center;
 font-family: monospace;
 font-size: 22px;
 color: #6D6D6D;
 font-weight: 700;
}
.companies-data .container .data .left p{
 display: flex;
 align-items: center;
 justify-content: center;
 width: 60px;
 height: 35px;
 border-radius: 15px;
 color: #123882;
 background: #D4D7FF9E;
 font-size: 18px;
}
.companies-data .container .data .left label{
 color: #123882;
 font-size: 24px;
 margin-left: 5px;
}
/** companies section end **/

/**  popup-box Start **/

.popup-box{
 position: fixed;
 top: 110px;
 right: 8px;
 width: 38%;
 height: auto;
 z-index: 17;
 display: flex;
 flex-direction: column;
/* background: #C2C2C2;*/
}
.popup-box .success-content{
 transform: translateX(500px);
 opacity: 0;
 width: 0;
 height: 0;
 border-radius: 5px;
 border: 1px solid #123882;
 background: #123882C9;
 transition: all ease-in-out .5s;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: space-evenly;
 overflow: hidden;
}
.popup-box .success-content.active{
 transform: translateX(0px);
 margin-top: 5px;
 min-width: 100%;
 min-height: 70px;
 opacity: 1;
}
.popup-box .success-content.active .head{
 display: flex;
 align-items: center;
}
.popup-box .success-content.active .head img{
 width: 22px;
 height: 22px;
 margin-left: 5px;
}
.popup-box .success-content.active .head p{
 margin-left: 5px;
 color: #ffffff;
 font-size: 16px;
}
.popup-box .success-content.active .msg p{
 margin-left: 5px;
 color: #FFFFFFD6;
}
.popup-box .error-content{
 transform: translateX(500px);
 opacity: 0;
 height: 0;
 width: 0;
 border-radius: 5px;
 border: 1px solid #B50034;
 background: #B50034C9;
 transition: all ease-in-out .7s;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: space-evenly;
 overflow: hidden;
}
.popup-box .error-content.active{
 transform: translateX(0px);
 margin-top: 5px;
 min-width: 100%;
 min-height: 70px;
 opacity: 1;
}
.popup-box .error-content.active .head{
 display: flex;
 align-items: center;
}
.popup-box .error-content.active .head img{
 width: 22px;
 height: 22px;
 margin-left: 5px;
}
.popup-box .error-content.active .head p{
 margin-left: 5px;
 color: #ffffff;
 font-size: 18px;
}
.popup-box .error-content.active .msg p{
 margin-left: 5px;
 color: #FFFFFFD6;
}

.popup-box .update-content{
 transform: translateX(500px);
 opacity: 0;
 height: 0;
 width: 0;
 border-radius: 5px;
 border: 1px solid #00B558;
 background: #00B55899;
 transition: all ease-in-out .7s;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: space-evenly;
 overflow: hidden;
}
.popup-box .update-content.active{
 transform: translateX(0px);
 margin-top: 5px;
 min-width: 100%;
 min-height: 70px;
 opacity: 1;
}
.popup-box .update-content.active .head{
 display: flex;
 align-items: center;
}
.popup-box .update-content.active .head img{
 width: 22px;
 height: 22px;
 margin-left: 5px;
}
.popup-box .update-content.active .head p{
 margin-left: 5px;
 color: #ffffff;
 font-size: 18px;
}
.popup-box .update-content.active .msg p{
 margin-left: 5px;
 color: #FFFFFFD6;
}
/** popup-box end **/

/** delete confirmation **/
.popup-confirmation{
 display: flex;
 align-items: center;
 justify-content: center;
 opacity: 0;
}
.popup-confirmation.active {
 position: fixed;
 top: 0;
 bottom: 0;
 left: 0;
 right: 0;
 z-index: 10;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 background: rgba(0, 0, 0, 0.8);
 backdrop-filter: blur(3px);
 -webkit-transition: background ease-in-out .5s;
 opacity: 1;
 transition: background ease-in-out .5s;
}
.popup-confirmation .content{
 transform: translateY(-500px);
 position: absolute;
 z-index:6;
 transition: all ease-in-out .5s;
 border-radius: 5px;
 background: #ffffff;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content:center;
}
.popup-confirmation.active .content{
 transform: translateY(0px);
 min-width: 40%;
 min-height: 300px;
}
.popup-confirmation.active .content img{
 width: 150px;
 height: 150px;
}
.popup-confirmation.active .content p{
 font-size: 24px;
 font-weight: 500;
 color: #42445A;
}
.popup-confirmation.active .content .control{
 width: 100%;
 height: 100px;
 margin-top: 50px;
 display: flex;
 align-items: center;
 justify-content: space-evenly;
}
.popup-confirmation.active .control button{
 width: 40%;
 height: 45px;
 border: none;
 border-radius: 5px;
 color: #FFFFFF;
 font-size: 20px;
}
.popup-confirmation.active .control #cancel{
 background: #6D6D6D;
}
.popup-confirmation.active .control #cancel:hover{
  background: #454545;
}
.popup-confirmation.active .control #delete{
 background: #FF2960;
}
.popup-confirmation.active .control #delete:hover{
  background: #d31242;
}
/** search bar css**/
.search-bar div ul{
  list-style: none;
  position: absolute;
  width: 74%;
  height: auto;
  z-index: 2;
  color: #123882;
  background: #ffffff;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}
.search-bar ul li{
  background: #dce4ff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 35px;
  margin-top: 1px;
  margin-left: 2px;
  font-size: 18px;
  border-radius: 2px;
}
.search-bar ul li:hover{
  background: #b3bbd4;
}

.loader{
 pointer-events: none;
 width: 25px;
 height: 25px;
 border: 3px solid transparent;
 border-radius: 50%;
 border-top-color: #ffffff;
 animation: loader 1s ease infinite;
}
@keyframes loader{
 0%{
  transform: rotate(0turn);
 }
 100%{
  transform: rotate(1turn);
 }
}
.pre-loader{
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 2;
  background: #000000;
  /*backdrop-filter: blur(5px);*/
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}
.pre-loader .circle{
  width: 90px;
  height: 90px;
  border: 8px solid transparent;
  border-radius: 50%;
  border-top-color: #ffffff;
  animation: loader 1s ease-in-out infinite;
}
.right-box .card-loader{
  width: 40%;
  height: 40%;
  position: fixed;
  z-index: 1;
  background: transparent;
  display: flex;
  align-items: end;
  justify-content: end;
  pointer-events: none;
}
.card-loader .circle{
  width: 70px;
  height: 70px;
  border: 7px solid transparent;
  border-radius: 50%;
  border-top-color: #123882;
  animation: loader .6s ease-in-out infinite;
}